---coral|o---
SEA_PICKLE
+CORAL
 
---infested|o---
+INFESTED

---plants|o---
ACACIA_SAPLING
ALLIUM
AZURE_BLUET
BAMBOO
BIRCH_SAPLING
BLUE_ORCHID
BROWN_MUSHROOM
CACTUS
CORNFLOWER
CRIMSON_FUNGUS
CRIMSON_ROOTS
DANDELION
DARK_OAK_SAPLING
DEAD_BUSH
FERN
JUNGLE_SAPLING
LILY_OF_THE_VALLEY
OAK_SAPLING
ORANGE_TULIP
OXEYE_DAISY
PINK_TULIP
POPPY
RED_MUSHROOM
RED_TULIP
SPRUCE_SAPLING
WARPED_FUNGUS
WARPED_ROOTS
WHITE_TULIP

---potted_plants|x---
+POTTED

---heads|o---
CREEPER_HEAD
PLAYER_HEAD
ZOMBIE_HEAD
+SKULL

---mobs|2|o---
TRIP_WIRE
LOOM
+bone


---nether|3|o---
+NETHER
+SOUL
+WARPED
+CRIMSON
+BLACKSTONE
+QUARTZ
+BASALT
LODESTONE
DAYLIGHT_DETECTOR
OBSERVER
GLOWSTONE
REDSTONE_LAMP
CRYING_OBSIDIAN
RESPAWN_ANCHOR
ENDER_CHEST
ANCIENT_DEBRIS
NETHERITE_BLOCK

---structure|o---
+PRISMARINE
+RED_NETHER
+SPONGE
BELL
SPAWNER
SEA_LANTERN
GILDED_BLACKSTONE
COBWEB
ENDER_CHEST
CRACKED_STONE_BRICKS
END_PORTAL_FRAME

---end|5|o---
+END
+PURPUR
+SHULKER
CHORUS_FLOWER
CHORUS_PLANT
DRAGON_EGG
DRAGON_HEAD
[relies on]
structure
nether

---difficult|o---
BEACON
DRAGON_EGG
DRAGON_HEAD
CONDUIT
NETHERITE_BLOCK
POTTED_WITHER_ROSE
